# Web Scraping

In [2]:
# import libraries

from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib

In [26]:
# Connect Website

URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_8?crid=1II63LL5QEU99&dib=eyJ2IjoiMSJ9.OLxyBNu7yDkwNRuS3s0G7rKld4gd7tKg_mmEsEDZ8Jmn3vYIY3_eKvHCUkfh82yPSqjdXDtwXwxoKJ2F27G6mW70kj-MiKUXFKXUY8KF-39P674pLRAu4Q6OJXv7AUMOo1Qx3DfmqFm-Uesq6QKMNJaqOToJoB0Hxpz6y4eANN7AJnDTTTD3sdrnEbyB6q04mSBX6yw2JpvDSw9itmNdGdfPfViZbrQrxmTI4YG82rSwfpQrsNei1Wfcd3Ia7OUTMAV0szpyEMkNfUVEw3J-zXA4F16qDdoJyZ4ANI53XIc_7f04Q8kQZq51e9e3dDbB49D5Wld55NSuP07uD5iy1QiOjahIIUt3wvz5OXjWMo64Hjk9WxYC2REkuTa_Z21LBGQ7K4JzkOeb02n5MhBqZ2cHnJ8hSMq251OQO9ilMMeUSFeCboLank-N7qLUPGaM.O0X9ydmVDSk1tZtCXIXaLAT52E7pVsMMM20qRCpmXpc&dib_tag=se&keywords=data%2Banalyst%2Btshirt&qid=1734877728&sprefix=data%2Banalyst%2Btshirt%2Caps%2C119&sr=8-8'

headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()

price_symbol = soup2.find(class_='a-price-symbol').get_text(strip=True)
price_whole = soup2.find(class_='a-price-whole').get_text(strip=True)
price_fraction = soup2.find(class_='a-price-fraction').get_text(strip=True)
price = f'{price_symbol}{price_whole}{price_fraction}'


print(title)
print(price)

                    Got Data Funny Business Data Analyst T-Shirt

$15.99

In [30]:
price.strip()[1:]

'15.99'

In [32]:
price = price.strip()[1:]

In [34]:
title.strip()

'Got Data Funny Business Data Analyst T-Shirt'

In [36]:
title = title.strip()

In [40]:
print(title)
print(price)
type(price)

Got Data Funny Business Data Analyst T-Shirt
15.99

str

In [44]:
import datetime

datetime.date.today()

datetime.date(2024, 12, 22)

In [46]:
today = datetime.date.today()

print(today)

2024-12-22

In [48]:
import csv

header = ['Title', 'Price', 'Date']
data = [title, price, today]

with open('AmazonwebscraperDateset.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [81]:
import pandas as pd

df = pd.read_csv('/Users/samsfahsel/AmazonwebscraperDateset.csv')

print(df)

                                           Title  Price        Date
0   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
1   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
2   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
3   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
4   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
5   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
6   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
7   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
8   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
9   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
10  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
11  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
12  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
13  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
14  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22

In [ ]:
# appending data

with open('AmazonwebscraperDateset.csv','a+', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [70]:
def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_8?crid=1II63LL5QEU99&dib=eyJ2IjoiMSJ9.OLxyBNu7yDkwNRuS3s0G7rKld4gd7tKg_mmEsEDZ8Jmn3vYIY3_eKvHCUkfh82yPSqjdXDtwXwxoKJ2F27G6mW70kj-MiKUXFKXUY8KF-39P674pLRAu4Q6OJXv7AUMOo1Qx3DfmqFm-Uesq6QKMNJaqOToJoB0Hxpz6y4eANN7AJnDTTTD3sdrnEbyB6q04mSBX6yw2JpvDSw9itmNdGdfPfViZbrQrxmTI4YG82rSwfpQrsNei1Wfcd3Ia7OUTMAV0szpyEMkNfUVEw3J-zXA4F16qDdoJyZ4ANI53XIc_7f04Q8kQZq51e9e3dDbB49D5Wld55NSuP07uD5iy1QiOjahIIUt3wvz5OXjWMo64Hjk9WxYC2REkuTa_Z21LBGQ7K4JzkOeb02n5MhBqZ2cHnJ8hSMq251OQO9ilMMeUSFeCboLank-N7qLUPGaM.O0X9ydmVDSk1tZtCXIXaLAT52E7pVsMMM20qRCpmXpc&dib_tag=se&keywords=data%2Banalyst%2Btshirt&qid=1734877728&sprefix=data%2Banalyst%2Btshirt%2Caps%2C119&sr=8-8'

    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id='productTitle').get_text()

    price_symbol = soup2.find(class_='a-price-symbol').get_text(strip=True)
    price_whole = soup2.find(class_='a-price-whole').get_text(strip=True)
    price_fraction = soup2.find(class_='a-price-fraction').get_text(strip=True)
    price = f'{price_symbol}{price_whole}{price_fraction}'


    print(title)
    print(price)

    price = price.strip()[1:]
    title = title.strip()

    import datetime
    today = datetime.date.today()

    import csv

    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('AmazonwebscraperDateset.csv','a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [78]:
while(True):
    check_price()
    time.sleep(86400)

                    Got Data Funny Business Data Analyst T-Shirt

$15.99

KeyboardInterrupt:

In [85]:
import pandas as pd

df = pd.read_csv('/Users/samsfahsel/AmazonwebscraperDateset.csv')

print(df)

                                           Title  Price        Date
0   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
1   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
2   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
3   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
4   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
5   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
6   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
7   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
8   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
9   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
10  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
11  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
12  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
13  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22
14  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-22